@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

/* Font and its weights */
/* Font-sizes */
/* Colors */
/* Paragraphs */
.p {
  font-size: 16px;
  line-height: 25.6px;
  color: #525560;
}

.p-small {
  font-size: 14px;
  line-height: 22.4px;
  color: #525560;
}

/* Buttons */
.btn-primary {
  padding: 16px 32px;
  font-weight: 500;
  line-height: 18.75px;
  background: #70C174;
  color: #fff;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}

.btn-secondary {
  padding: 16px 32px;
  font-weight: 500;
  line-height: 18.75px;
  color: #1D2130;
  background: #FFFFFF;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}

.btn-navbar {
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  line-height: 18.75px;
  background: #1D2130;
  border-radius: 4px;
}

/* Active Link */
.active {
  color: #0b0706 !important;
}

/* Line */
.line {
  width: 861px;
  border-top: 1px solid #E5E5E5;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

/* Max-width 1280 */
.member-img {
  border-radius: 12px;
  margin-bottom: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.about {
  padding-bottom: 96px;
}

.header__about {
  padding-bottom: 300px;
}
.header__about-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.header__title {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.header__title p {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 2px;
  color: #1D2130;
}
.header__text {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  max-width: 1184px;
  margin: 0 auto;
}
.header__text h1 {
  width: 632px;
  font-size: 64px;
  font-weight: 700;
  line-height: 67.2px;
  color: #1D2130;
}
.header__text div:last-child {
  width: 496px;
}
.header__text div:last-child p:first-child {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #1D2130;
}

.main__container {
  position: relative;
}

.video {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video__wrapper {
  padding-bottom: 96px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.video__wrapper img {
  border-radius: 12px;
}
.video__wrapper button {
  cursor: pointer;
  position: absolute;
  background: #FFFFFF;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  border-radius: 50%;
  border: none;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.video__wrapper button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
}

.mission {
  background: #EFF7F2;
  margin-bottom: 96px;
}
.mission__wrapper {
  padding: 320px 0 96px 0;
}
.mission__text-row {
  padding-bottom: 96px;
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  gap: 96px;
}
.mission__text p:first-child {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D2130;
}
.mission__text h3 {
  margin-bottom: 8px;
  width: 496px;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #1D2130;
}
.mission__bottom-row {
  max-width: 1280px;
  margin: 0 auto;
}
.mission__title p {
  margin-bottom: 48px;
  line-height: 18.75px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #1D2130;
  text-transform: uppercase;
}
.mission__img-wrapper {
  display: flex;
  gap: 97px;
}

.awards {
  padding-bottom: 96px;
}
.awards__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.awards__title h2 {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #1D2130;
}
.awards__row {
  display: flex;
  justify-content: space-between;
}
.awards__award img {
  margin-bottom: 16px;
}
.awards__ward-info {
  text-align: center;
}
.awards__ward-info span {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #1D2130;
}
.awards__ward-info p:nth-child(2) {
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #1D2130;
}
.awards__ward-info p:last-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(29, 33, 48, 0.6);
}

.journey {
  background-color: #0b0706;
  max-width: 1280px;
  margin: 0 auto 96px auto;
  border-radius: 12px;
}
.journey__wrapper {
  padding: 64px 0 64px 96px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 48px;
}
.journey__text p:first-child {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.journey__text h2 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
}
.journey__text p:last-child {
  margin-bottom: 32px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
}
.journey__stats {
  display: flex;
  gap: 32px;
}
.journey__stat span {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #FFFFFF;
}
.journey__stat p {
  font-size: 12px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
}
.journey__right-content img {
  border-radius: 12px 0 0 12px;
}

.team {
  padding-bottom: 96px;
}
.team__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.team__text {
  margin-bottom: 48px;
  text-align: center;
}
.team__text h2 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #1D2130;
}
.team__text p {
  width: 519px;
  margin: 0 auto;
}
.team__members {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
}
.team__member {
  text-align: center;
}
.team__member p:nth-child(2) {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #1D2130;
}
.team__member p:nth-child(3) {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: rgba(29, 33, 48, 0.6);
}
.team__member-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=about.css.map */