@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "./reset";
// @import "./normalize";
/* Font and its weights */

$roboto: 'Roboto', sans-serif;
$fw400: 400;
$fw500: 500;
$fw700: 700;

/* Font-sizes */

$homeheading: 64px;
$heading1: 56px;
$heading2: 48px;
$heading3: 28px;
$heading4: 20px;
$heading5: 14px;
$heading6: 12px;

/* Colors */ 

$primary: #70C174;
$secondary: #BEF3C0;
$tertiary: #EFF7F2;
$black: #0b0706;
$primary-text: #1D2130;
$secondary-text: #525560;
$off-white: #EBF0F9;
$border: #E5E5E5;

/* Paragraphs */ 

.p {
    font-size: 16px;
    line-height: 25.6px;
    color: $secondary-text;
}

.p-small {
    font-size: 14px;
    line-height: 22.4px;
    color: $secondary-text;
}

/* Buttons */ 

.btn-primary {
    padding: 16px 32px;
    font-weight: $fw500;
    line-height: 18.75px;
    background: #70C174;
    color: #fff;
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}

.btn-secondary {
    padding: 16px 32px;
    font-weight: 500;
    line-height: 18.75px;
    color: $primary-text;
    background: #FFFFFF;
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
}

.btn-navbar {
    padding: 12px 32px;
    color: #fff;
    font-weight: 500;
    line-height: 18.75px;
    background: #1D2130;
    border-radius: 4px;
}

/* Active Link */ 

.active {
    color: $black!important;
}

/* Line */ 

.line {
    width: 861px;
    border-top: 1px solid #E5E5E5;
    backdrop-filter: blur(30px);
}

body { 
    font-family: $roboto;
    font-weight: $fw400;
}

.header {
    padding-bottom: 96px;
    &__container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-wrapper {
        display: flex;
        gap: 40.5px;
    }

    &__nav {
        & ul {
            display: flex;
            gap: 40px;
        }

        & ul li a {
            font-weight: $fw500;
            line-height: 18.75px;
            color: $secondary-text;
        }
    }

    &__background {
        background: url(../img/background/BG\ Image.jpg) center / cover no-repeat fixed;
        height: 735px;
        position: relative;
    }

    &__background-content {
        position: absolute;
        top: 128px;
        left: 110px;
    }

    &__background-text {
        padding-bottom: 192px;
        & h1 {
            margin-bottom: 48px;
            width: 640px;
            font-size: $homeheading;
            font-weight: $fw700;
            line-height: 76.8px;
            color: #fff;
        }
    }

    &__background-buttons {
        display: inline-flex;
        align-items: center;
        gap: 24px;

        & button {
            cursor: pointer;
            font-family: $roboto;
            padding: 14.5px 24px;
            border: none;
            background: transparent;
            font-weight: $fw500;
            line-height: 18.75px;
            color: #fff;
            & img {
                margin-right: 8px;
                vertical-align: middle;
            }
        }
    }

    &__background-information {
        display: flex;
        align-items: center;
        gap: 24px;
        & p {
            font-weight: $fw500;
            color: #fff;
            font-size: 18px;
            line-height: 21px;
        }
    }
}

.main {
    &__container {
  
    }
}

.text-line { 
    width: 72px;
    border-top: 2px solid #1D2130;
}

.title-line {
    width: 1094px;
    border-top: 1px solid #E5E5E5;
}

.function-line {
    width: 441px;
    border-top: 1px solid #E5E5E5;
    transform: rotate(90deg);
}

.about {
    margin-bottom: 64px;
    &__wrapper{
        max-width: 1300px;
        margin: 0 auto;
    }
    
    &__top-row {
        margin-bottom: 64px;
        display: flex;
        align-items: center;
        gap: 96px;
    }

    &__text {
        & p:nth-child(2) {
            text-transform: uppercase;
            font-weight: $fw700;
            line-height: 18.75px;
            letter-spacing: 2px;
            color: $primary-text;
        }

        & h2 {
            width: 607px;
            margin-bottom: 32px;
            font-size: $heading2;
            line-height: 57.6px;
            font-weight: $fw700;
            color: $primary-text;
        }

        & p:nth-child(3) {
            width: 608px;
            margin-bottom: 48px;
            line-height: 25.6px;
            color: $secondary-text;
        }
    }

    &__title-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;
    }

    &__video {
        position: relative;
        & img {
            border-radius: 12px;
        }

        & button {
            cursor: pointer;
            position: absolute;
            background: #FFFFFF;
            backdrop-filter: blur(80px);
            border-radius: 50%;
            border: none;
            width: 64px;
            height: 64px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);

            & img {
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 0;
            }
        }
    }
    

    &__bottom-row {
        & p {
            font-weight: 500;
            line-height: 19px;
            /* identical to box height */
            letter-spacing: 2px;
            text-transform: uppercase;
            /* Primary text */
            color: #1D2130;
        }
    }

    &__row-title-wrapper {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__img-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.activity {
    background: $tertiary;
    padding-bottom: 96px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 96px 110px;
    }

    &__title-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;

        & p {
            text-transform: uppercase;
            font-weight: $fw700;
            line-height: 18.75px;
            letter-spacing: 2px;
            color: $primary-text;
        }
    }

    &__text {
        margin-bottom: 32px;
        & h2 {
            width: 608px;
            margin-bottom: 16px;
            font-size: $heading2;
            line-height: 57.6px;
            font-weight: $fw700;
            color: $primary-text;
        }

        & p {
            width: 608px;
            line-height: 25.6px;
            color: $secondary-text;
        }
    }

    &__text-wrapper {
        & p:first-child {
            margin-bottom: 8px;
            font-weight: $fw700;
            font-size: 24px;
            line-height: 28px;
            /* Primary text */
            color: $primary-text;
        }

        & p:last-child {
            width: 384px;
        }
    }

    &__functions {
        & div:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__function {
        display: flex;
        gap: 24px;
    }

    &__right-content {
        & img {
            border-radius: 12px;
        }
    }
}



