@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

/* Font and its weights */
/* Font-sizes */
/* Colors */
/* Paragraphs */
.p {
  font-size: 16px;
  line-height: 25.6px;
  color: #525560;
}

.p-small {
  font-size: 14px;
  line-height: 22.4px;
  color: #525560;
}

/* Buttons */
.btn-primary {
  padding: 16px 32px;
  font-weight: 500;
  line-height: 18.75px;
  background: #70C174;
  color: #fff;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}

.btn-secondary {
  padding: 16px 32px;
  font-weight: 500;
  line-height: 18.75px;
  color: #1D2130;
  background: #FFFFFF;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
}

.btn-navbar {
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  line-height: 18.75px;
  background: #1D2130;
  border-radius: 4px;
}

/* Active Link */
.active {
  color: #0b0706 !important;
}

/* Line */
.line {
  width: 861px;
  border-top: 1px solid #E5E5E5;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  padding-bottom: 96px;
}
.header__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-wrapper {
  display: flex;
  gap: 40.5px;
}
.header__nav ul {
  display: flex;
  gap: 40px;
}
.header__nav ul li a {
  font-weight: 500;
  line-height: 18.75px;
  color: #525560;
}
.header__background {
  background: url(../img/background/BG\ Image.jpg) center/cover no-repeat fixed;
  height: 735px;
  position: relative;
}
.header__background-content {
  position: absolute;
  top: 128px;
  left: 110px;
}
.header__background-text {
  padding-bottom: 192px;
}
.header__background-text h1 {
  margin-bottom: 48px;
  width: 640px;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  color: #fff;
}
.header__background-buttons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.header__background-buttons button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 14.5px 24px;
  border: none;
  background: transparent;
  font-weight: 500;
  line-height: 18.75px;
  color: #fff;
}
.header__background-buttons button img {
  margin-right: 8px;
  vertical-align: middle;
}
.header__background-information {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__background-information p {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

.text-line {
  width: 72px;
  border-top: 2px solid #1D2130;
}

.title-line {
  width: 1094px;
  border-top: 1px solid #E5E5E5;
}

.function-line {
  width: 441px;
  border-top: 1px solid #E5E5E5;
  transform: rotate(90deg);
}

.about {
  margin-bottom: 64px;
}
.about__wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.about__top-row {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 96px;
}
.about__text p:nth-child(2) {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 2px;
  color: #1D2130;
}
.about__text h2 {
  width: 607px;
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  color: #1D2130;
}
.about__text p:nth-child(3) {
  width: 608px;
  margin-bottom: 48px;
  line-height: 25.6px;
  color: #525560;
}
.about__title-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.about__video {
  position: relative;
}
.about__video img {
  border-radius: 12px;
}
.about__video button {
  cursor: pointer;
  position: absolute;
  background: #FFFFFF;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  border-radius: 50%;
  border: none;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.about__video button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
}
.about__bottom-row p {
  font-weight: 500;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 2px;
  text-transform: uppercase;
  /* Primary text */
  color: #1D2130;
}
.about__row-title-wrapper {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.about__img-wrapper {
  display: flex;
  justify-content: space-between;
}

.activity {
  background: #EFF7F2;
  padding-bottom: 96px;
}
.activity__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 96px 110px;
}
.activity__title-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.activity__title-wrapper p {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 2px;
  color: #1D2130;
}
.activity__text {
  margin-bottom: 32px;
}
.activity__text h2 {
  width: 608px;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  color: #1D2130;
}
.activity__text p {
  width: 608px;
  line-height: 25.6px;
  color: #525560;
}
.activity__text-wrapper p:first-child {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* Primary text */
  color: #1D2130;
}
.activity__text-wrapper p:last-child {
  width: 384px;
}
.activity__functions div:not(:last-child) {
  margin-bottom: 24px;
}
.activity__function {
  display: flex;
  gap: 24px;
}
.activity__right-content img {
  border-radius: 12px;
}/*# sourceMappingURL=style.css.map */